extends base

block content
  h1(style='text-align: center') Manage Tours

  // Display all tours with update and delete buttons
  main.main
    div(style='text-align: center')
      a.btn.btn--green.btn--small(
        href='/manage-tours/new-tour',
        style='margin-bottom: 40px'
      ) Add a new property
      h1
    .card-container
      each property in properties
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(
                src=`img/tours/${property.imageCover}`,
                alt=`${property.name}`
              )
            h3.heading-tertirary
              span= property.name

          .card__details
            h4.card__sub-heading= ``
            p.card__text= property.summary

          .card__footer
            a.btn.btn--green.btn--small(href=`/manage-tours/${property._id}`) Update
            form(action=`/manage-tours/${property._id}/delete`, method='POST')
              button.btn.btn--green.btn--small(type='submit') Delete
